      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      />

<nav>
  <div class="nav-right-container" id="navRightContainer">
    <div class="menu-toggle" id="menuToggle">&#9776;</div>
    <span class="nav-text"><i class="fas fa-paw"></i> Pawfect Match - Letícia Pittezr</span>
  </div>
  <ul id="navList">
    <li><a href="../index.html">Home</a></li>
    <li><a href="../pages/catalogo.html">Pets</a></li>
    <li><a href="../pages/schedule.html">Agendar visita</a></li>
    <li><a href="../pages/favorites.html">Favoritos</a></li>
  </ul>
</nav>
