main {
  padding: 2rem;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}

.container {
  display: flex;
  flex-direction: column;
}

.pets-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
